[2021-10-04 03:33] gabhi opened #1 "Update README document"
We should update README doc with how to get started with this repo instead of default template doc

[2021-10-04 03:34] gabhi commented on #1
Sorry my bad, looks like we havent committed any code here yet

[2021-10-04 03:34] #1 closed

[2021-10-26 20:52] davidvossel opened #11 "KubeVirtMachine uses VMI instead of VM"
Hey,

First off, It's really great to see this provider land! Excellent work!

One thing stuck out to me while I was looking through this that would be good to talk though. Right now the KubeVirtMachine api uses a VMI spec rather than a VM spec and that VMI spec is later on used to create a persistent VM. By starting with a VMI spec rather than a VM spec, we lose the ability to exercise some the p

[2021-11-16 17:13] agradouski commented on #11
+1 sounds like a great idea @davidvossel. we went with VMI spec to keep it simple in the initial implementation, it can now be enhanced per your proposal.

[2021-11-17 09:43] rmohr opened #16 "Consider switching to kubevirt.io/api from kubevirt.io/client-go"
/kind enhancement

**What happened**:

kubevirt.io/client-go pulls in tons of dependencies and makes it hard to integrate with other kubernetes related golang packages.

**What you expected to happen**:

Starting with 0.48 we will have tagged releases of just our APIs at https://github.com/kubevirt/api and https://github.com/kubevirt/containerized-data-importer-api which can be used like described

[2021-11-17 19:16] cchengleo commented on #11
+1 to this proposal! I should plan to implement this feature.

[2021-11-23 13:17] nirarg opened #18 "Node update with provider ID should not block KubevirtMachine status ready"
**What happened:**
Currently the node is updated with the provider ID in the kubevirtMachine reconciler
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/83c693883aa96d7e1822b8d25166cdc6ffa5fdae/controllers/kubevirtmachine_controller.go#L296
It cause to the following behavior: as long as the node is not created, the KubevirtMachine state isn't changed to READY

**What did you e

[2021-11-24 14:50] rmohr opened #19 "Issues connecting with SSH to some newer OS releases (for instance fedora 33+)"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

@davidvossel discovered that on recent fedora the golang ssh client can't connect anymore by default. A fix for that is merged in go sine a few days:

 * https://github.com/golang/go/issues/37278
 * https://go-review.googlesource.com/c/crypto/+/220037/

A rebuild with a new enough golang

[2021-11-30 07:28] cchengleo commented on #16
The dependency reduction saves tons of effort on managing dependencies! We do have difficulty keeping up with the cluster-api repo due to dependency conflicting issues.

[2021-11-30 08:34] #16 closed

[2021-11-30 11:36] #19 closed

[2021-11-30 18:06] sayantani11 opened #25 "📖 Make changes to the README file"
Currently the Readme file just follows a basic K8s-templates. It would be better to update it with a one line description about CAP-Kubevirt and with some additional info related to contribution guidelines, and few other things.
Similar to the one in https://github.com/kubernetes-sigs/cluster-api-provider-gcp
**Environment:**

- Cluster-api version:
- Cluster-api-provider-kubevirt version:
- Kuber

[2021-12-01 04:21] agradouski commented on #18
hi @nirarg -- I'm somewhat confused by this issue. To me, the underlying kubevirtmachine being in READY state is a prerequisite for the node being created. Thus, the logic is currently sequential, and both take place in machine reconciler.

for openshift case, namely,
[code]
why can't both still take place in machine reconciler, but we just mark kubevirtmachine ready right after successful VMI cre

[2021-12-01 07:27] nirarg commented on #18
Hi @agradouski
Sorry for the confusion

As you see in the PR, current solution suggestion is to keep the Node update in the reconciler
As this is a workarround (Node update should happen in `KubevirtCloudProvider`), it doesn't make scence to me that the Node update should block the KubevirtMachine readiness

[2021-12-01 14:07] nirarg opened #26 "ssh validation code is specific for cloud init"
Hi,

As part of KubevirtMachine Reconcile, there is ssh validation for:
1. VM is booted
2. Bootstrap is completed

This validation assumes the following:
1. The VM support cloudinit format (for example fedora)
2. When the bootstrap is done the file `/run/cluster-api/bootstrap-success.complete` is created on the VM file system

Those assumptions are not true for Openshift cluster scenario:
1. The N

[2021-12-03 22:19] davidvossel commented on #26
The appending of the user+ssh key to the bootstrap's userdata is problematic. The logic today is assuming that the cloud-init user-data is structured as the `cloud-config` type. There are no guarantees that is the case. There are many cloud-init formats [1]

If we really need this ssh behavior as it is today, my suggestion is to make it only apply when the user-data is of type `cloud-config` which

[2021-12-06 00:04] #18 closed

[2021-12-06 00:06] #25 closed

[2021-12-06 00:14] agradouski commented on #26
@davidvossel @nirarg -- agree we can check for `#cloud-config` to validate that user data is really of type cloud-config.
we realized that using ssh to validate that VM has booted/bootstrapped was not ideal, and implemented ssh-based validation for time being until we could figure out a more generic solution.

thanks for logging this issue.

[2021-12-06 22:43] davidvossel commented on #26
/assign @davidvossel

[2021-12-07 15:44] sayantani11 opened #29 "Add the weekly meeting schedule in the `office hours` section"
Currently the `README.md` doesn't mention the weekly meetings for Kubevirt as we can see here: https://github.com/kubernetes/community/blob/master/sig-cluster-lifecycle/README.md#cluster-api-provider-kubevirt
So, it would be better if we could add the weekly meetings in the `office-hours` section.

**Environment:**

- Cluster-api version:
- Cluster-api-provider-kubevirt version:
- Kubernetes versi

[2021-12-07 15:44] sayantani11 commented on #29
/good-first-issue

[2021-12-07 22:56] k8s-triage-robot opened #31 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 00:11] agradouski opened #32 "Support for external infrastructure clusters"
Today kubevirt provider can only create tenant cluster VMs on the same cluster where CAPI/CAPK management plane is running, in other words, infrastructure cluster is the same as the management cluster.

As and admin, I want to be able to use one Kubernetes cluster to run the CAPI/CAPK management plane and another cluster (or multiple clusters) to run tenant clusters, meaning that in the long run w

[2021-12-08 00:12] agradouski commented on #32
/assign @agradouski

I'm actively working on this. I should have something published in the next few days.

[2021-12-08 04:29] justaugustus commented on #31
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:29] #31 closed

[2021-12-08 17:04] jayesh-srivastava opened #34 "Typo in README.md"
The `README.md` file has a simple typo at `line 48`. A go-through of the whole .md file is advised in order to correct any other typos.

[2021-12-08 17:05] jayesh-srivastava commented on #34
/kind documentation
/good-first-issue

[2021-12-08 18:19] TheAbhishekS commented on #34
/assign

[2021-12-08 18:42] wangxin311 opened #36 "Add quickstart example in README"
I didn't see any example on how to use the kubevirt cluster api, can we have a step by step deployment example/guide, so people who new to kubevirt cluster api can get started from there? Thanks

[2021-12-08 22:57] k8s-triage-robot opened #37 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:05] justaugustus commented on #37
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:05] #37 closed

[2021-12-10 03:12] aaseem commented on #29
/assign

[2021-12-10 08:16] sayantani11 commented on #36
Yes need to have pr in cluster-api

[2021-12-10 08:18] sayantani11 commented on #29
/unassign @aaseem

[2021-12-10 16:03] pjaton opened #41 "Add KubevirtMachine and VirtualMachine metadata to KubevirtMachineTemplate spec"
Hi team,

Thank you for all the work on this new provider. This is great to see it land.

Following on #11, the spec of the `KubevirtMachineTemplate` to specify KubeVirt resources seems quite deep and, with the understand that this would be a backward incompatible changes, I would like to propose a flatter structure.

Currently, the structure is as follow:

[code]

Assuming #11 is implemented and

[2021-12-11 00:50] #26 closed

[2021-12-13 15:13] davidvossel commented on #41
As for flatting the KubevirtMachineTemplate, I'm unsure. By moving providerID out of the current structure, we are abandoning a consistent API convention the other capi providers use.

For example, here's providerId across AWS and AZURe providers

```awsTemplate.Spec.Template.Spec.ProviderId```
```azureTemplate.Spec.Template.Spec.ProviderId```

Today the capk provider follows this convention with.

[2021-12-14 09:10] #34 closed

[2021-12-14 12:16] cchengleo opened #45 "Update the minimal Dockerfile with a more matured one"
When initially lifting the repo for upstream, we forgot to carry the Dockerfile. With the help of @rmohr and @davidvossel, a minimal Dockerfile was added in #24.

We would like the add the Dockerfile to build the manager binary within the context and expose the production image.

[2021-12-14 16:14] pjaton commented on #41
Thanks @davidvossel, make sense to keep this schema aligned with other provider and, as you added to your schema, this allow the addition of the `metadata` for the `KubevirtMachine`; which I didn't realize was also missing.

Renaming this issue from ***`Flattening KubevirtMachineTemplate.spec and adding metadata for VirtualMachine`*** to ***`Add KubevirtMachine and VirtualMachine metadata to Kubev

[2021-12-14 20:22] davidvossel commented on #41
excellent!

I'm disappointed with how deeply nested the yaml is with what I proposed, but I think this might just be the nature of what we're building. @rmohr it would be good to have your eyes on this as well.

[2021-12-15 00:10] #29 closed

[2021-12-16 10:15] #45 closed

[2021-12-16 16:38] agradouski opened #51 "Honor namespace for Kubevirt VMs based on VM spec"
Right now, the namespace for the external KubeVirt VMs is inferred by introspecting the kubeconfig data for the external config.

infracluster.go
[code]

The issue we're trying to solve here is how to express the location of the underlying KubeVirt VM from the KubeVirtMachine's namespace.

One way to do this is via https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/11, namely

[2021-12-20 06:29] #32 closed

[2021-12-20 19:49] davidvossel commented on #41
is anyone actively working on this one? I don't mind picking this up if no one else is

[2021-12-20 19:57] pjaton commented on #41
Hi @davidvossel, as far as I know, this issue is not being actively work on and it would be great if you could work on it. Thank you!

[2021-12-21 06:55] cchengleo opened #56 "`clusterctl` describe shows stale information"
**What steps did you take and what happened:**

While testing #54, I noticed the status posted by `clusterctl describe` has stated information even though the tenant cluster was successfully formed:

[code]

**What did you expect to happen:**
There should be no warning.

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-api version: `v0.4.5` == `65f95147d52abface1778dd426ad

[2021-12-21 14:06] davidvossel commented on #41
/assign @davidvossel

[2021-12-22 23:11] #11 closed

[2021-12-22 23:11] #41 closed

[2021-12-22 23:11] #51 closed

[2022-01-04 20:27] agradouski opened #62 "Latest version of clusterctl is not compatible with v1alpha1 version of kubevirt provider"
With PR https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/54 kubevirt provider API versions were set to `v1alpha1`.

With that, the latest version of `clusterctl` is no longer compatible with kubevirt provider codebase:
[code]

Note, from code perspective, kubevirt provider is _still_ up-to-date and compatible with latest cluster-api, and in our CI implementation we don't obser

[2022-01-04 20:29] agradouski commented on #62
Let's check if other providers had similar issues and on their resolutions.

Note, quite a few providers updated API to v1beta1 following cluster-api release, perhaps for the same reason of incompatibility mentioned in this issue.

[2022-01-07 21:29] davidvossel opened #63 "create ginkgo/gomega e2e test suite"
We need a ginkgo/gomega test suite to replace the `hack/functest.sh` e2e test.

The functest.sh script was only meant as a stop gap that allowed us to get some quick e2e test feedback for our CI lanes. We need to port that bash script to golang code. This will give us the ability to express more advanced e2e tests in the future.

[2022-01-07 21:30] davidvossel commented on #63
/assign @davidvossel

I'm already working on this.

[2022-01-11 17:41] agradouski opened #64 "Tenant cluster loadbalancer service is hardcoded to ClusterIP type"
With ClusterIP type a tenant cluster will only be accessible within the same cluster, and cannot be exposed to external workloads.

Example load balancer service:
[code]

Currently, there's no way to configure the loadbalancer service, as the spec is hard coded.

[2022-01-11 20:51] davidvossel opened #65 "cluster teardown hangs"
/kind bug

A kubevirt provider cluster should be able to be torn down by deleting the top level Cluster object, however that doesn't work today.

The issue is that the KubeVirtMachine objects will never have their finalizer removed during the cascading deletion if the top level Cluster object get's deleted before the KubeVirtMachines can be processed.

The result is that the KubeVirtMachine object

[2022-01-11 20:58] davidvossel commented on #63
pr posted #66

[2022-01-13 15:04] #63 closed

[2022-01-14 20:00] wangxin311 commented on #64
My two cents:

do we want to expose load balancer service spec as a whole in KubevirtCluster?

if the loadbalancer is available on the cluster, and Kubernetes will return both ClusterIP and LoadBalancerIP for the service, and return IP function in loadbalance.go can just return LoadBalancerIP, otherwise, Kubernetes will only return ClusterIP, and LoadbalancerIP will be shown as Pending, in this ca

[2022-01-14 20:30] davidvossel opened #70 "tenant cluster nodes never recover after KubeVirt VM restarts"
/kind bug

If a KubeVirt VM restarts which is hosting a tenant cluster node, that node never comes back online within the tenant cluster.

Steps to reproduce.
1. Create a tenant cluster with capk
2. restart a tenant cluster VM `virtctl restart <vm>`
3. That node never rejoins the tenant cluster despite the VM recovering

At step 3, KubeVirt will bring the VM back online, but internally that VM wil

[2022-01-14 20:31] davidvossel commented on #70
I think in order to solve this, we shouldn't allow ephemeral VMs using a container disk to restart. Instead I think the entire machine needs to be replaced if the ephemeral VM ever goes down.

[2022-01-14 21:50] davidvossel commented on #70
I tested this using a VM with persistent storage and the node survives the restart with the kubeadm provider. The IP address changes, but that IP is updated in the node's entry in the tenant cluster and everything seems to continue to work as expected.

Below is an example of the KubeVirtMachine with persistent storage. This spec requires the containerized-data-importer (cdi) to be installed on th

[2022-01-18 18:21] #62 closed

[2022-01-18 18:33] kewang-equinix commented on #64
There is one more issue we need address in order to support separate mgmt and workload cluster is to create VM service for each VirtualMachine and expose service as Loadbalancer and then return LB external IP instead of VM IP address to kubevirt cluster api, because mgmt cluster need to SSH into each VM to validate VM state to see if they're ready to join Kubernetes cluster but VM IP only visible

[2022-01-24 18:47] kewang-equinix opened #74 "Service created for kubernetes api access may add other cluster as endpoint"
/kind bug

When multiple workload cluster created on the same management cluster, the service created for workload cluster api access may add other cluster as endpoint, because of the in-proper selector is using.

For example, I have two cluster been created and  kvcluster01 and kvcluster02 on the same management cluster
[code]
[code]

Both cluster control node has the same label ` cluster.x-k8s.i

[2022-01-25 01:02] wangxin311 opened #76 "Workload cluster VM is not able to resolve DNS entry"
/kind bug

we observed workload cluster is not able to pull docker image, and after look into the issue, seems the VM is not able to resolve DNS.

We're using the following qcow2 image for the Kubevirt VM, and kubernetes version is 1.21.0

NODE_VM_IMAGE_TEMPLATE=quay.io/kubevirtci/fedora-kubeadm:35

[code]
I did tcpdump on cni0 interface of infra kubernetes cluster node, I didn't see any dns packe

[2022-01-25 09:03] wangxin311 commented on #76
I looked this issue a little bit more and seems the issue related to iptables, workload cluster also has the kube-dns and using the same DNS server IP: 10.96.0.10, so all the request on the workload cluster VM will redirect to workload cluster kube-dns service instead of send to infra kubernetes cluster, and cause a dns resolution loop.

[code]

Some logs from workload kube-dns pod
[code]
To fix t

[2022-01-26 20:31] agradouski opened #78 "Tenant cluster VMs running on external infra are not tracked after creation"
This feature allows running tenant cluster VMs on external infrastructure (external infra meaning any cluster that is not the CAPI/CAPK management cluster itself): https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/32

One outstanding issue with tenant clusters deployed on external infra is that CAPI/CAPK management plane does not track underlying VMs for tenant clusters after

[2022-01-27 02:00] agradouski commented on #64
@kewang-equinix that's a good point.
however, even with current logic we don't strictly require SSH access for each VM, in fact it's optional (based on whether ssh keys for VMs were generated in the first place), see:
[code]

having a load-balancer service for each tenant cluster VM is quite demanding in terms of underlying resources, and we might consider removing SSH requirement for the nodes ru

[2022-01-27 02:03] agradouski commented on #64
for now, let's limit the scope of this issue to tenant cluster loadbalancer only,
separate issue(s) to be created for tenant cluster VMs networking

[2022-01-27 02:04] agradouski commented on #64
@agradouski is actively working on this.

[2022-01-27 03:39] wangxin311 commented on #64
@agradouski I agree with you on enable LB service for each VM is too much in most of scenario, and also I support the idea of disable SSH validation as it doesn't provide too much benefit as per currently implementation.
However in some other user case, end user may need access VM to do debugging in case something wrong, VM only accessible within infra Kubernetes cluster as of now but administrato

[2022-01-31 09:53] rmohr commented on #64
@wangxin311 I think kubevirt offers a few wasy on accessing VMs via ssh independent of the cloud provider. Trying to summarize a few common patterns, to see if they may meet your demands:

* cloud-provider-like access to all VMs via a jumphost/bastion: I created for another need some time ago [jumppod](https://github.com/kubevirt/kubevirt/pull/4195). One LB or node-port for all VMs would then be s

[2022-01-31 20:59] nirarg opened #84 "Add capk image build process"
Add capk image build process

* Triggered by Github actions
* Triggered on every PR merge (hash tag) or nightly based builds
* Image should be pushed to https://quay.io/organization/capk

Completing this task would allow us to add Quick start for capk (https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/36 and https://github.com/kubernetes-sigs/cluster-api/issues/5845)

[2022-01-31 21:03] nirarg commented on #84
/assign @isaacdorfman

[2022-02-01 11:48] nunnatsa opened #85 "Two deprecated, insecure function are in use in the ssh package"
The `x509.IsEncryptedPEMBlock` and the `x509.DecryptPEMBlock` function used in pkg/ssh/utils.go have been deprecated since Go 1.16 because it shouldn't be used: Legacy PEM encryption as specified in RFC 1423 is insecure by design. Since it does not authenticate the ciphertext, it is vulnerable to padding oracle attacks that can let an attacker recover the plaintext.

/kind bug

[2022-02-01 16:53] Arvinderpal commented on #64
FYI, loosely related to this LB discussion, there is[ long standing issue](https://github.com/kubernetes-sigs/cluster-api/issues/1250) for supporting LB providers as first-class citizens in CAPI.

[2022-02-02 00:54] agradouski opened #89 "Base images for cluster nodes"
From CAPK community meeting discussion on Feb 1 (https://docs.google.com/document/d/1ZAnRLCKOVbDqrsrYis2OR0aZIAlqp576gCJVCkMNiHM), we need to find (or build and publish) a cluster node image, in order to truly unlock CAPK for developers. Also, it is a blocker for CAPK quick start guide.

Discussion points:
* currently, we use `kubevirtci` fedora image for testing: https://github.com/kubevirt/kubev

[2022-02-02 09:29] nirarg commented on #89
This is related to this issue #84
@isaacdorfman can you also please start investigating `kubernetes-sigs/image-builder` project and see if that's something we can use to generate disk images that work for capk

[2022-02-02 10:02] #64 closed

[2022-02-02 14:12] rmohr opened #90 "[e2e tests] Cover creating tenant clusters in external infra clusters in the integration tests"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

We are not testing the creation of capk tenant clusters in external clusters.

**What did you expect to happen:**

Let's add an integration test which creates a kubeconfig with a service account token and corresponding RBAC rules and then uses this kubeconfig in the capk controllers to cr

[2022-02-02 14:13] rmohr commented on #90
@agradouski FYI, is that covering what you are mostly intersted in testing asap?

[2022-02-03 18:37] wangxin311 commented on #89
One comment: for CNI, we should leave it to user to choose just like other cloud provider doing for cluster api, end-user may not want or like built-in CNI provided us.

Here some of my experience on `image-builder`, FYI.
I built a preliminary image based on `kubernetes-sigs/image-builder` for openstack cluster api months ago, it does generate qcow2 image and it should work for kubevirt because bo

[2022-02-03 18:39] kewang-equinix commented on #74
Fix merged, close the issue.

[2022-02-03 18:39] #74 closed

[2022-02-03 21:30] davidvossel commented on #65
/assign @davidvossel

I'm looking into this

[2022-02-03 22:23] agradouski commented on #89
awesome, thanks for sharing @wangxin311

[2022-02-08 10:56] nirarg opened #94 "Use cloud-provider-kubevirt in the capk tenant cluster"
Cloud-provider was already implemented for kubevirt platform
https://github.com/kubevirt/cloud-provider-kubevirt

Need research:
* How to include this controller in the capk installation?
* Are there any gaps in this controller need to be added?

[2022-02-08 10:56] nirarg commented on #94
/assign @nirarg

[2022-02-08 14:35] sayantani11 opened #95 "Add scripts to turn on presubmit checks"
**What steps did you take and what happened:**
Currently CAPK misses presubmit checks, this will be a great addition to the project. Adding a few scripts for that purpose.

**Anything else you would like to add:**
Before proceeding, we need to make sure we have the required support in the test-infra repo.

**Environment:**

- Cluster-api version:
- Cluster-api-provider-kubevirt version:
- Kubernet

[2022-02-08 14:36] sayantani11 commented on #95
/priority-important-soon

[2022-02-08 14:40] sayantani11 commented on #95
/priority important-soon

[2022-02-08 14:48] sayantani11 commented on #56
Umm... One thing can be that you didn't mention replicas, like you need to use minimum 1 replica. Another one can be for the device that you are one, it might not have the capacity for the process. So, you might try using a cloud platform for this. Maybe just a suggestion.

[2022-02-09 23:47] mzayats opened #97 "Documentation - goals, use cases, design decisions"
For the sake of potential users and contributors, it would be good to have a statement on the project goals, prioritized and dismissed use cases as well as major design decisions that were made by the core team.

It will make it much easier for those who consider contributing to the project to decide whether it's going to match their needs.

[2022-02-15 15:32] isaacdorfman opened #98 "capk manager causes a segmentation fault when cluster is created with the kubevirtci tool"
**What steps did you take and what happened:**
The cluster was created and the tests run using these steps:
https://docs.google.com/document/d/1kPLk1KfGvAX4vUV5DOpvekPGr4wQF6Iait4M-YBq1tM/edit

[A clear and concise description on how to REPRODUCE the bug.]
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x142579e]

[2022-02-15 15:32] isaacdorfman commented on #98
@davidvossel

[2022-02-17 00:19] #65 closed

[2022-02-17 00:21] #98 closed

[2022-02-22 17:36] sayantani11 commented on #97
+1 on this

[2022-02-22 22:42] agradouski commented on #90
FYI -- I'm actively working on this issue.

[2022-02-22 22:50] agradouski opened #100 "CAPK depends on KubeVirt running on the management cluster"
Today, CAPK provider will fail to initialize if the management cluster does not have KubeVirt CRDs deployed.

Here's an example (note CAPK provider is failing to initialize):
[code]

CAPK manager log shows the following error:
[code]

Full log from CAPK manager:
[code]

Investigate a possibility of eliminating this dependency on KubeVirt in the management cluster. This is relevant for the case whe

[2022-02-23 13:35] isaacdorfman opened #101 "Add clusterctl init intergration"

[2022-02-23 13:36] isaacdorfman commented on #101
I did it for "https://github.com/openshift/cluster-api-provider-agent".
I can also do it here.

[2022-03-01 16:10] cchengleo commented on #101
👍

[2022-03-01 16:15] cchengleo commented on #100
Will there be any checks for the external infrastructure cluster and make sure the KubeVirt is installed?

[2022-03-02 07:00] nirarg opened #106 "Add clusterkubevirtadm utility to create ServiceAccount for infrastructure resources creation"
Create new Cobra CLI utility
Name: clusterkubevirtadm
It create will ServiceAccount in the Infrastructure clusture to be used for all the resources creation
It will also create a Role to this ServiceAccount, include minimal permissions required for the resources creation
It will output the credentials file (kubeconfig) for using the new service account

This utility, will allow the infrastructure

[2022-03-02 09:43] isaacdorfman opened #107 "Machine::IsBootstrapped will wait indefinitely if "kubeadm init" fails"
The command to run in cloud-init is "kubeadm init --config /run/kubeadm/kubeadm.yaml  && echo success > /run/cluster-api/bootstrap-success.complete'" and Machine::IsBootstrapped waits for the existence of /run/cluster-api/bootstrap-success.complete.
If kubeadm init exits with error the cluster creation will be stuck.

[2022-03-10 10:45] nunnatsa commented on #106
/assign @nunnatsa

[2022-03-27 18:53] #106 closed

[2022-04-26 23:35] agradouski commented on #78
/remove-lifecycle stale

[2022-05-02 06:12] nirarg commented on #84
The image was added by @isaacdorfman
PR: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/108
Still need to automate this image creation

[2022-05-02 06:13] nirarg commented on #84
/remove-lifecycle stale

[2022-05-03 14:54] isaacdorfman commented on #84
I will add a comment in capk repo docs that explain how to build the image using image-builder newly created kubevirt target.

[2022-05-03 15:18] davidvossel commented on #107
i believe the Machine Health Check (MHC) would be helpful here for timing out machines which never successfully bootstrap.

As an optimization, we could request that the kubeadm bootstrapper gives us an indication that kubeadm init has failed, which we can interpret

[2022-05-03 15:27] davidvossel commented on #100
One note, we currently have an informer watching VMIs in the kubevirt machine controller. We'd want to shift that informer to being some sort of dynamic informer that watches the external cluster's vmis

[2022-05-03 15:30] davidvossel commented on #97
@mzayats Is there example you can point us to for another cluster api provider that has a similar statement to what you're interested in here?

[2022-05-03 15:31] davidvossel commented on #95
/close

We have presubmit checks now and even e2e tests

[2022-05-03 15:32] davidvossel commented on #90
/assign @agradouski

[2022-05-03 15:34] davidvossel commented on #89
/assign @isaacdorfman

Isaac is working on this here, https://github.com/kubernetes-sigs/image-builder/pull/847

[2022-05-03 15:35] davidvossel commented on #85
/remove-lifecycle stale

[2022-05-03 15:37] davidvossel commented on #84
/assign @isaacdorfman

[2022-05-03 15:38] davidvossel commented on #84
/close

[2022-05-03 15:38] #84 closed

[2022-05-03 15:39] davidvossel commented on #78
we need to either create an informer or poll for VM changes on external clusters

[2022-05-03 15:41] agradouski commented on #78
this issue is related to issue https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/100

[2022-05-03 15:44] davidvossel commented on #76
also, we have a new image builder ubuntu image that we're using for capk now, `quay.io/capk/ubuntu-container-disk:20.04`

if you think the guest vm image is part of the issue here, try the new ubuntu image i linked to.

[2022-05-03 15:45] davidvossel commented on #70
/assign @davidvossel

[2022-05-03 15:47] davidvossel commented on #70
/close

Works now because we have the ability to use DataVolumeTemplates within the KubeVirtMachine to create persistent nodes.

[2022-05-03 15:47] #70 closed

[2022-05-03 15:49] davidvossel commented on #36
/assign @isaacdorfman

Isaac is working on the clusterctl integration which will allow us to create a quickstart. https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/113

[2022-05-03 15:50] agradouski commented on #36
/remove-lifecycle rotten

[2022-05-10 07:04] nirarg commented on #94
/remove-lifecycle stale

[2022-05-27 18:19] davidvossel commented on #76
I'm running into this as well now. Were you able to resolve this issue? If so what settings did you need to change?

[2022-05-27 20:40] davidvossel commented on #76
I looked into this further in my kubevirtci environment. It's unclear to me why the resolv.conf file isn't setting a reasonable nameserver. I had to jump through a bunch of hoops to get the cluster nodes completely online. I'm still investigating what we can do on our end to smooth this over.

So, using the `quay.io/capk/ubuntu-container-disk:20.04` image, I had to make the following changes in or

[2022-05-30 12:03] jbpratt opened #142 "Publish arm64 images for the capk-manager"
When downloading the current release and installing it (https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/releases/download/v0.1.0-rc.0/infrastructure-components.yaml), the manager container goes into `CrashLoopBackOff` due to `exec /manager: exec format error` on an ARM64 cluster. It seems that there is only the amd64 image available on Quay (`quay.io/capk/capk-manager-amd64`). It

[2022-05-31 13:59] nirarg commented on #101
/remove-lifecycle stale
@isaacdorfman Is this issue completed?

[2022-06-01 10:55] isaacdorfman commented on #101
Done
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/113

[2022-06-09 02:39] #76 closed

[2022-07-04 22:58] galbeniluz opened #147 "Failing to clusterctl init with kubevirt provider"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I'm getting this error from clusterctl when trying to run clusterctl init with Kubevirt as a provider
`clusterctl init --infrastructure kubevirt
Fetching providers
Error: failed to get provider components for the "kubevirt" provider: failed to get repository client for the InfrastructurePr

[2022-07-06 10:29] isaacdorfman commented on #147
This is probably due to the clusterctl not accepting v0.1.0-rc.0 as a valid semver version.

@davidvossel @agradouski
Can you create and push the tag v0.1.1 for the same commit, to trigger a release with a semver version accepted by clusterctl?

[2022-07-06 20:37] davidvossel commented on #147
@agradouski @cchengleo could one of you create and push the tag? I don't have permissions

[code]

[2022-07-07 17:05] galbeniluz commented on #147
@davidvossel @cchengleo Thanks for the fix but I'm still getting the same error.
I think that the issue is that the metadata.yaml contains a 1.1 release which doesn't exist
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/3fbdad97b90f6dd4cc691a213f2d86f992d39937/metadata.yaml#L9

[2022-07-08 16:34] #56 closed

[2022-07-13 22:34] pjaton opened #149 "CAPK addition of `capk` user to Cloud-Init user-data conflict when user(s) specified in Kubeadm configs"
**What steps did you take and what happened:**

Kubeadm's `KubeadmControlPlane.spec.kubeadmConfigSpec` and `KubeadmConfigTemplate.spec.template.spec` expose the capability for the end-user to add custom users to pass to the Cloud-Init user data that will be generate for control-plane and worker nodes, respectively.

By example:

1. Create a cluster, specifying a user to add to control-plane nodes

[2022-07-18 06:49] galbeniluz commented on #147
`❯ clusterctl init --infrastructure kubevirt:v0.1.0 -v5
Using configuration File="/Users/gal.beniluz/.cluster-api/clusterctl.yaml"
Fetching providers
Fetching File="core-components.yaml" Provider="cluster-api" Type="CoreProvider" Version="v1.1.5"
Fetching File="bootstrap-components.yaml" Provider="kubeadm" Type="BootstrapProvider" Version="v1.1.5"
Fetching File="control-plane-components.yaml" Prov

[2022-07-18 19:54] pjaton opened #150 "VM deletion looks for resource in wrong namespace"
**What steps did you take and what happened:**

When deleting a cluster that was spawned in an external infrastructure cluster, the [`pkg/kubevirt/machine.go Machine#Delete`](https://github.pie.apple.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/41c77a793ccbcaa21a05d9b76fd2d4f02c4934f5/pkg/kubevirt/machine.go#L254) method looks for the Virtual Machine to delete in the correct cluster, but

[2022-07-19 20:24] pjaton commented on #150
/assign @pjaton

[2022-07-20 22:14] pjaton opened #152 "Kubevirt cluster and machine controllers shouldn't report patch errors when resources already deleted"
**What steps did you take and what happened:**

1. create a cluster and wait for it to be created
1. delete the cluster
1. Looking at the logs of the `capk-controller-manager-<hash>-<hash>` manager container, the following errors might be reported (unless the deletion took longer to delete the resource, but this showing fairly consistently for me):

[code]

Looking at the code, this is due to call

[2022-07-20 22:19] pjaton commented on #149
/assign @pjaton

[2022-07-20 22:19] pjaton commented on #152
/assign @pjaton

[2022-07-22 21:52] pjaton opened #158 "Tenant namespace should fallback to current context namespace if external kubeconfig is specified."
**What steps did you take and what happened:**

Discussed with @agradouski:

The namespace where to spawn a tenant cluster should be resolved as follow:

1. the namespace specified by the enduser in a node's VirtualMachine template; i.e. as `KubevirtMachineTemplate.spec.template.spec.virtualMachineTemplate.metadata.namespace`
1. If this is not set and an `infraClusterSecretRef` is set for this clu

[2022-07-22 21:52] pjaton commented on #158
/assign @pjaton

[2022-07-25 13:24] #150 closed

[2022-07-25 13:50] #90 closed

[2022-07-25 14:08] #152 closed

[2022-07-25 17:38] pjaton opened #161 "CAPK node's userdata secrets are missing label"
**What steps did you take and what happened:**

When creating a new cluster, the userdata secrets created by CAPK to extend Kubeadm secrets with the `capk` user, have no label.

**What did you expect to happen:**

The secret should inherit the labels from the secrets generated by Kubeadm.

**Environment:**

- Cluster-api version: **v1beta1**
- Cluster-api-provider-kubevirt version: **v1alpha1**
-

[2022-07-25 17:39] pjaton commented on #161
/assign @pjaton

[2022-07-26 16:24] pjaton opened #163 "CAPK should not required custom `capk` user"
**What steps did you take and what happened:**

The current CAPK logic requires a SSH keys pair to be created and it modifies the cloud-init user-data generates by Kubeadm to add the custom user - `capk` - with the public SSH key authorizing it to SSH to each node. This is required so that CAPK can check that each node bootstrapped correctly.

**What did you expect to happen:**

Probing for the no

[2022-07-26 20:09] #158 closed

[2022-07-27 14:45] hh commented on #147
Noticing this as well, is a way to override, create a local work around until the the referenced infrastructure provider yaml / release is updated?

[2022-07-27 21:48] pjaton opened #165 "CAPK should look for `infraClusterSecret` in the `KubevirtCluster` resource namespace by default"
**What steps did you take and what happened:**

Request the creation of a cluster in an external infrastructure providing the kubeconfig in a secret in the same namespace where the cluster spec resources are created and omitting the `Namespace` field in the `KubevirtCluster.spec.infraClusterSecretRef`.

E.g. with a ``KubevirtCluster` like the following one

[code]

CAPK controller-manager will fai

[2022-07-27 21:48] pjaton commented on #165
/assign @pjaton

[2022-07-29 20:59] davidvossel commented on #147
@nunnatsa is this something you'd be able to investigate?

[2022-07-29 21:07] #149 closed

[2022-08-01 12:24] isaacdorfman commented on #147
@davidvossel I think that changing the major version in metadata.yaml from 1 to 0 as a quick fix and running the CI will fix it.

[2022-08-01 14:30] #161 closed

[2022-08-01 16:14] #165 closed

[2022-08-01 18:59] raz-bn opened #169 "Authorization token for ignition server does not refresh"
When a new VM is provisioned, it pulls its authorization token from the `user-data-{NAMESPACE}-{HASH}-userdata`
secret. The creation of this secret is happening in the _kubevirtmachine controller_ , the source of the data contained in the secret comes from the `user-data-{NAMESPACE}-{HASH}` secret, which is created by the _nodepool controller_ in [HyperShift](https://github.com/openshift/hypershif

[2022-08-03 09:52] raz-bn commented on #169
I wonder if there is any reason for creating the `user-data-{NAMESPACE}-{HASH}-userdata` secret since it is basically identical to the `user-data-{NAMESPACE}-{HASH} ` secret. why not just mounting the existing secret to VMs?

[2022-08-05 07:57] khatrig opened #170 "kubevirt provider initialization fails due to versioning issue in released metadata.yaml"
**What steps did you take and what happened:**
Tried to initialize kubevirt provider.
[code]

**What did you expect to happen:**
kubevirt provider should have initialized successfully

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Updating the major version from 1 to 0 in the released metadata.yaml file and running the initialization wi

[2022-08-09 13:08] davidvossel commented on #100
/remove-lifecycle stale

[2022-08-10 01:06] salilhpe opened #172 "KubevirtCluster not "ready" and cluster stuck in provisioning for a long time"
**What steps did you take and what happened:**
I have a 3 server management cluster (with Ubuntu 20.04 and microk8s 1.21/stable)
Have CAPI 1.2.0, Kubevirt 0.5.5 and latest release version of CAPK i.e. v0.1.0
then I create a new cluster with the following arguments to clusterctl:

export IMAGE_REPO=k8s.gcr.io
export NODE_VM_IMAGE_TEMPLATE=quay.io/capk/ubuntu-2004-container-disk:v1.22.0
export CRI_P

[2022-08-10 14:57] davidvossel commented on #147
@hh @galbeniluz This should be resolved now with the new v0.1.1 capk release

[2022-08-10 15:24] galbeniluz commented on #147
@davidvossel Its working now
Thank you

[2022-08-10 15:24] #147 closed

[2022-08-11 12:22] nirarg commented on #169
The secret is duplicated because when new `KubevirtMachine` is created it look for `userdata` data key inside this secret, while the original secret is created with the data key: `value`

Its look like the solution should be not skipping the secret creation code if the duplication secret is already exists, but need to update the secret if the secret data was changed since the last time.
here is th

[2022-08-11 12:37] davidvossel commented on #169
I think that's the simplest solution for now.

Long term i want us to get out of the business of creating that separate secret for the VM/VMIs entirely. That requires deprecating the ssh and capk user support for the cloud-config types though.

[2022-08-21 11:38] galbeniluz commented on #172
From what I've experienced the problem is with the kube controller configuration, it has a --port flag which is not being accepted  so the pods in kube-system namespace are left in crashloopbackoff and that is what keeping the cluster in that state

[2022-08-22 16:00] salilhpe commented on #172
In my case the VMs were not even started,  it was stuck trying to set the Infrastructure state to ready.

[2022-08-22 17:14] jrcichra commented on #170
I'm having the same issue.

How did you run the initialization process from local files?

[2022-08-23 15:35] davidvossel commented on #170
is this resolved by the same fix for https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/147 ?

[2022-08-23 15:51] davidvossel commented on #172
I think this is caused by the cluster controller doing two sequential updates on the secret within the reconcile loop. We should only be doing a single write to the ssh key in the `PersistKeysToSecret` function

[2022-08-23 16:01] davidvossel commented on #142
Are you able to build/push arm64 images using our existing build system? If so what was involved?

From our end, we can update the github action that builds and pushes images to include the arm64 image. It would be helpful to have you run through the steps of building/pushing the image to a repo you control and confirming that it works for you first though.

[2022-08-23 16:12] jbpratt commented on #142
Hey @davidvossel, sorry for not getting back to this. There are already targets for building the images and the manifest:

https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/43916429f4417c3b18ded7052768e5fb4265c0a6/Makefile#L217-L225

I think we can do the [basic qemu setup](https://github.com/docker/setup-qemu-action/#usage) in the action then just change the target being ran h

[2022-08-24 17:45] jbpratt commented on #170
I can confirm this is fixed @davidvossel

[2022-08-24 17:55] jbpratt opened #175 "clusterctl generate depends on `cluster-template.yaml` being published in the releases"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

Success in finding and generating the from a template

**Anything else you would like to add:**

I assume all we need to do is add the templates located [here](https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/tree/main/templates) into the release done [here](https://github.com/kubernetes-sig

[2022-08-25 17:39] #170 closed

[2022-08-25 19:48] #142 closed

[2022-08-29 20:26] davidvossel commented on #172
I've posted a potential fix for this here, https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/176

[2022-08-31 18:20] nunnatsa commented on #36
/remove-lifecycle rotten

[2022-09-01 02:56] salilhpe commented on #172
I tested the fix, it works for me. Converting to the single update function is what was needed !

[2022-09-06 15:19] davidvossel opened #179 "guest network doesn't pass traffic between nodes"
Using calico on the infra cluster and calico on the guest cluster causes issues. Network traffic on the guest cluster cannot communicate between nodes.

[2022-09-06 15:20] davidvossel commented on #179
this should be solved by offsetting the vxlan port on calico in the guest cluster. The vxlan ports can not overlap between the guest and infra cluster.

Also the cidr ranges between infra and guest cluster must be offset.

[2022-09-06 20:08] salilhpe commented on #179
here  are changes that I did  the trick for me. (Added a new variable FELIX_VXLANPORT that  specified the new port and enabled vxlan instead of IPIP)
--- calico.yaml	2022-09-06 19:55:16.904966022 +0000
***************
*** 4509,4524 ****
                    key: calico_backend
              # Cluster type to identify the deployment type
              - name: CLUSTER_TYPE
!               value: "k8s

[2022-09-11 06:15] #94 closed

[2022-09-17 11:18] #172 closed

[2022-09-20 15:36] davidvossel opened #181 "add all clusterctl templates to capk release assets"

[2022-09-23 17:08] cfredericksen opened #184 "Question: Provision windows cluster nodes?"
Does this cluster-api provider support provisioning windows nodes in kubernetes clusters?

[2022-09-30 16:38] #107 closed

[2022-09-30 16:38] #89 closed

[2022-09-30 20:26] davidvossel commented on #100
The VM corresponding to a KubeVirtMachine would fail to create if this occurred.

[2022-09-30 20:28] davidvossel commented on #100
I think this is due to the VM and VMI watches. It should be possible to make cli option for capk that causes the VM and VMI watches to not be registered.

[2022-10-01 00:46] #85 closed

[2022-10-01 00:46] #97 closed

[2022-10-06 12:00] h1r0mu opened #192 "Add documents for PCI passthrough"
Can I make a document contribution for CAPK?

Recently, I've tried to enable PCI passthrough on a cluster created by CAPK. As there are no such instructions (and also other official documents) in the CAPK repository, it took trial and error. I'd like to share our experience as a document.

Is it acceptable? and if it is where is the right place to add such documents?

thanks,

[2022-10-14 20:57] hh opened #197 "KubevirtMachineTemplate VMs with our default ubuntu images have no console logs"
**What steps did you take and what happened:**

We used the ubuntu-2004 images generated from  [our-image-creation-process.md](https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/a6326da5345df60d33eb0244cd904a76c141b994/docs/our-image-creation-process.md) as in a `KubeVirtMachineTemplate` [here](https://github.com/sharingio/coder/blob/49dfe18848ee6c2eb85b312c24d1abe727fad239/exam

[2022-10-15 06:27] qinqon commented on #197
Latest Ubuntu image we use a kubevirtci at capk has console, they are build from https://github.com/kubernetes-sigs/image-builder/pull/984

[2022-10-16 23:24] hh commented on #197
Not sure if my comment on the closed #186 would notify folks, so pulling into this open issue: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/186#issuecomment-1280072067

I can see the image was pushed here: https://quay.io/repository/capk/ubuntu-2004-container-disk?tab=tags&tag=latest

Are there other locations / type of images?
Is there a documented release process for the

[2022-10-16 23:25] hh commented on #197
ie. Do we push qcow or other images?

[2022-10-17 06:10] qinqon commented on #197
This is the docs capk has to build images:
- https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/main/docs/our-image-creation-process.md

Right now there is no automation to push image changes.

[2022-10-18 15:35] davidvossel commented on #192
yes, absolutely! make a pr in the `docs/` dir

[2022-10-18 15:39] davidvossel commented on #175
I believe this should be resolved now

[2022-10-18 15:39] #175 closed

[2022-10-20 16:58] hh opened #200 "Unable to specific cloudInitNoCloud volumes, currently hardcoded to configInitCloudDrive"
**What steps did you take and what happened:**

Tried to create a kubevirt capi cluster using cloud-init cloudInitNoCloud data source.

**What did you expect to happen:**

Ability to specify cloud-init cloudInitNoCloud instead of the hard coded cloudInitConfigDrive data source.

**Notes:**

Both `cloudInitConfigDrive` and `cloudInitNoCloud` are both supported as `VolumeSources` by kubevirt in [v1.

[2022-10-24 17:18] pjaton commented on #163
/remove-lifecycle

[2022-10-24 17:25] pjaton commented on #163
/remove-lifecycle stale

[2022-11-01 09:27] galbeniluz opened #205 "Image support"
Hi, does this provider supports other images than the ubuntu container image? like CentOS qcow2 images ? does it support KubeVirt CDI?

[2022-11-01 15:40] davidvossel commented on #205
We're currently only building community images for ubuntu, but we certainly aren't limited to ubuntu. The image creation project for building capk images is found here, https://github.com/kubernetes-sigs/image-builder

Image-build supports a few different variants, such as rocky linux, rhel, centos, and ubuntu. You can roll out your own images for capk by running something like `make build-kubevir

[2022-11-01 15:40] davidvossel commented on #205
also, yes. we do support cdi with capk for persistent VMs.

[2022-11-02 15:29] agradouski commented on #192
thank you for your contribution @h1r0mu - this might be very useful for others

[2022-11-02 21:31] #192 closed

[2022-11-02 21:39] davidvossel commented on #200
To clarify, you're just requesting to have the option to use NoCloud instead of ConfigDrive?

If that's the case, we can simply allow users to create an empty NoCloud or ConfigDrive volume in the KubeVirtMachine object, and we'll use that volume for the cloud init (our capk controller would fill the rest of the details for the volume) instead of autogenerating the ConfigDrive one like we do today.

[2022-11-03 20:40] hh commented on #200
I think that would work @davidvossel !

[2022-11-13 07:53] nirarg commented on #169
/remove-lifecycle stale

[2022-11-15 16:09] davidvossel commented on #200
@hh Hey, i saw you put a note in the community meeting notes. We're on a bi-weekly cadence right now and that was are off week.

Your question about "how can we help"?  Is this code you'd be interested in contributing? if so we can help offer guidance once a PR is posted.

[2022-11-15 21:04] hh commented on #200
I think a pointer or two into which code needs updating and/or specific docs that would help us start a PR would be great.

[2022-11-16 21:59] davidvossel commented on #200
yeah, absolutely!

starting here, https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/6a77a49da11bce48c0c1739f76a77a32c6acb48d/pkg/kubevirt/utils.go#L141

If a volume already exists called "cloudinitvolume" in the KubeVirtMachine's spec, then you can make logic that uses that volume to inject the userdata secret rather than the capk controller automatically generating the ConfigD

[2022-11-16 22:25] hh commented on #200
Thanks heaps! Will look into this.
/cc @BobyMCbobs

[2022-11-21 20:16] #197 closed